{% extends "base.html" %}

{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZKM4MPQXL"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  <footer class="sponsorship">
      <hr>
      <a href="https://trash-guides.info/#buy-me-a-coffee" title="Buy me a Coffee"><img src="https://trash-guides.info/img/buy-me-a-coffee.png" alt="Buy me a coffee" width=137" height="39">
      </a>
      <hr>
  </footer>
{% endblock %}
