lightgallery==0.5
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-git-revision-date-localized-plugin==1.1.0
mkdocs-macros-plugin==0.7.0
mkdocs-material==8.3.9
mkdocs-minify-plugin==0.5.0
mkdocs-redirects==1.0.4

