:root > * {
  /* Footer */
  --md-footer-bg-color: hsla(232, 54%, 41%, 1);
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #e91e63;
}
