mkdocs>=1.1.2
mkdocs-material>=6.1.0
pymdown-extensions>=3.3.2
mkdocs-macros-plugin>=0.4.18
mkdocs-awesome-pages-plugin>=2.4.0
mkdocs-redirects>=1.0.1
mkdocs-git-revision-date-localized-plugin>=0.7.3
git+git://github.com/g-provost/lightgallery-markdown#egg=lightgallery
