lightgallery==0.5
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-git-revision-date-localized-plugin==1.1.0
mkdocs-macros-plugin==0.7.0
mkdocs-material==8.4.2
mkdocs-minify-plugin==0.5.0
mkdocs-redirects==1.1.0
mkdocs-include-markdown-plugin==3.6.1
mkdocs-markdownextradata-plugin==0.2.5