mkdocs==1.1.2
mkdocs-material==7.1.7
pymdown-extensions==8.2
mkdocs-macros-plugin==0.5.5
mkdocs-awesome-pages-plugin==2.4.0
mkdocs-redirects==1.0.1
mkdocs-git-revision-date-localized-plugin==0.9.2
git+git://github.com/g-provost/lightgallery-markdown#egg=lightgallery
