name: Lint

on:
  push:
  pull_request:

jobs:
  editorconfig-checker:
    runs-on: ubuntu-latest
    container:
      image: mstruebing/editorconfig-checker:v3.6.1@sha256:af556694c3eb0a16b598efbe84c1171d40dfb779fdac6f01b89baedde065556f
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: editorconfig-checker
        run: editorconfig-checker .

  markdownlint:
    runs-on: ubuntu-latest
    container:
      image: davidanson/markdownlint-cli2:v0.21.0@sha256:0c238c341f1bb9b111aec96fcd8848329e74fc7d9e6a318306c958f5ed7d520a
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: markdownlint
        run: markdownlint-cli2 **.{md,markdown}

  yamllint:
    runs-on: ubuntu-latest
    container:
      image: peterdavehello/yamllint:1.37.0@sha256:bb8e9a2970f31503714447e2c309add8eb27ad57a66dee6fa2d37322415ed0ae
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: yamllint
        run: yamllint .
