name: Lint

on:
  push:
  pull_request:

jobs:
  editorconfig-checker:
    runs-on: ubuntu-latest
    container:
      image: mstruebing/editorconfig-checker:v3.6.0@sha256:3fee6fe35c9ec21367b92ca50b3bea856ffc8a7a186044c329ac8bb23b33284a
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: editorconfig-checker
        run: editorconfig-checker .

  markdownlint:
    runs-on: ubuntu-latest
    container:
      image: davidanson/markdownlint-cli2:v0.19.1@sha256:502fcf316d575d1e663005c8d57688e5bda316f3996caa5715aa384fa1d34810
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: markdownlint
        run: markdownlint-cli2 **.{md,markdown}

  yamllint:
    runs-on: ubuntu-latest
    container:
      image: peterdavehello/yamllint:1.37.0@sha256:bb8e9a2970f31503714447e2c309add8eb27ad57a66dee6fa2d37322415ed0ae
      options: --user 0:0
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: yamllint
        run: yamllint .
