name: Lint - Markdown

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.2
      - name: markdownlint
        run: |
          docker run --rm \
            -v "${GITHUB_WORKSPACE}":/data \
            markdownlint/markdownlint \
            -c /data/.markdownlint.yml \
            -r ~MD013,~MD033,~MD034,~MD046,~MD002,~MD041 \
            .
