name: Validate Metadata JSON

on:
  push:
    branches:
      - master
    paths:
      - metadata.json
      - metadata.schema.json
      - .github/workflows/metadata-validation.yml
  pull_request:
    paths:
      - metadata.json
      - metadata.schema.json
      - .github/workflows/metadata-validation.yml

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate metadata.json
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: actions/setup-python@v5.3.0
        with:
          python-version: 3.x
      - run: pip install jsonschema
      - run: jsonschema -i metadata.json metadata.schema.json
