name: Validate Metadata JSON

on:
  push:
    paths:
      - metadata.json
      - metadata.schema.json
      - .github/workflows/metadata-validation.yml
  pull_request:
    paths:
      - metadata.json
      - metadata.schema.json
      - .github/workflows/metadata-validation.yml

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate metadata.json
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
      - run: pip install jsonschema
      - run: jsonschema -i metadata.json metadata.schema.json
