name: Publish docs via GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-python@v2.1.4
        with:
          python-version: 3.x

      - run: pip install -r requirements.txt

      - run: mkdocs gh-deploy --force
