name: Trigger PR Build

on:
  pull_request:

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false
    steps:
      - name: Save PR info
        run: |
          mkdir -p ./pr_info
          echo ${{ github.event.pull_request.number }} > ./pr_info/PR_NUMBER
          echo ${{ github.event.pull_request.head.sha }} > ./pr_info/PR_SHA

      - name: Upload PR info
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pr_info
          path: pr_info/
