name: Update contributors

on:
  push:
    branches: [master, main]

permissions:
  contents: write

jobs:
  update_contributors:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.PAT }}

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install axios

      - name: Update CONTRIBUTORS.md
        run: node .github/scripts/update-contributors.js

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_message: "chore(contributors): Update CONTRIBUTORS.md"
          file_pattern: "CONTRIBUTORS.md"
