name: Update contributors

on:
  push:
    branches: [master, main]

permissions:
  contents: write

jobs:
  update_contributors:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ secrets.PAT }}

      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install axios

      - name: Update CONTRIBUTORS.md
        run: node .github/scripts/update-contributors.js

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        with:
          commit_message: "chore(contributors): Update CONTRIBUTORS.md"
          file_pattern: "CONTRIBUTORS.md"
